Repository calimero-network/core, pull requests merged in 2025-09, with the labels that each got.

#1460 ci: use stable 2024 edition version of `rustfmt`. Expand fmt options
  .github/workflows/ci-checks.yml
  .husky/pre-commit
  STYLE.md
  rustfmt.toml
Labels: rust, CI

#1497 chore(runtime): logic mod refactoring
  crates/runtime/src/constants.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/logic.rs
  crates/runtime/src/logic/host_functions.rs
  crates/runtime/src/logic/host_functions/blobs.rs
  crates/runtime/src/logic/host_functions/governance.rs
  crates/runtime/src/logic/host_functions/storage.rs
  crates/runtime/src/logic/host_functions/system.rs
  crates/runtime/src/logic/host_functions/utility.rs
Labels: enhancement, rust, runtime

#1493 feat(Relayer): Dockerize relayer
  Cargo.lock
  DOCKER-RELAYER.md
  Dockerfile.relayer
  crates/relayer/Cargo.toml
  crates/relayer/src/main.rs
  docker-compose.relayer.dev.yml
  docker-compose.relayer.yml
  scripts/relayer/start-dev.sh
  scripts/relayer/start-prod.sh
Labels: enhancement, rust, relayer, docker
